*{
    padding: 0;
    margin: 0;
}

header .container{
    display: flex;
    align-items: center;
    padding: 0 2%;
    background-color: #26445E;
}

.container .logo{
    height: 200px;
    width: 200px;
}

.container .logo img{
    height: 100%;
    width: 100%;
}

.container nav{
    width: 800px;
}

.container nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    
}

.container nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #FFFFff;

}

.container nav ul li a:hover{
    color: #93D8EF;
    transition: 0.5s;
}

.container .login{
    width: 20%;
}

.container .login button{
    margin-left: 120px;
    padding: 10px 25px;
    cursor: pointer;
    text-transform: uppebrcase;
    border: none;
    border-radius: 5px;
    background-color: #EA8845;
    color: white;
    font-weight: 800;
}


/*MAIN BANNER */

main .container{
    display: flex;
}

main .container .main-text{
    width: 40%;
    padding: 10px 60px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




main .container .main-banner{
    width: 60%;
    display: flex;
    justify-content: center;

}

.main-banner img{
    width: 50%;
}

.main-text h1{
    font-size: 40px;
    color: white;
}


.main-text p{
    font-size: 25px;
    color: white;
}

.main-text button{
    padding: 2%;
    border-radius: 5px;
    border: none;
    margin: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;

}

.btnVermelho{
    background-color: red;
    box-shadow: rgba(251, 38, 38, 0.25) 0px 14px 28px, rgba(252, 0, 0, 0.22) 0px 10px 10px;
}

.btnAzul{
    background-color: #5aa5bd;
    box-shadow: rgba(95, 207, 238, 0.25) 0px 14px 28px, rgba(23, 239, 232, 0.22) 0px 10px 10px;

}

.main-text span{
    color: #93D8EF;
}

.main-text .btn-main{
   
}








body{
    background-color: #26445E;
}

